@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
a{
    color: black;
    text-decoration-line: none;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #a5147d;
    color: white;
    padding: 0 80px 0 50px;
    font-size: 12pt;
    justify-content: space-between;
}
section{
    display: flex;
    flex-direction: column;
    padding: 120px 0;
    justify-content: center;
    align-items: center;
}
.selectCategory {
    width: 200px; 
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Archivo", sans-serif;
    font-size: 12pt;
    background-color: #680d4e;
    color: #fff;
    padding: 4px;
    border-radius: 9px; 

}
.optionCategory{
    font-size: 12pt;
}
.listRecipes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    box-shadow: 15px 15px 50px    rgba(0, 0, 0, 0.486),-2px -2px 20px    rgba(0, 0, 0, 0.288);
    border-radius: 15px;
    width: 50%;
    
    margin: 20px;
    
}
.itenRecipes{
    display: flex;
    
}
 .itenRecipesImg{
    width: 50%;    
    height: 100%;
    border-radius: 15px 0 0 15px; 
    margin-right: 20px;  
}
.data{
    width: 50%;   
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-between;
}
.itenRecipesTitle{
    font-size: 18pt;
    color:#a5147d
} 
.stars{
    font-size: 18pt;
    color: #FFD43B;
}
/* ---media-------------------------------------*/
@media screen and (max-width:1280px  )  {
    
    .listRecipes{}

    li{
        width: 70%;
    }

    .itenRecipes{}

    .itenRecipesImg{}

    .itenRecipesTitle{} 

}
@media screen and (max-width:920px  )  {
    
    .listRecipes{}

    li{
        width: 80%;
    }

    .itenRecipes{}

    .itenRecipesImg{}
    
    .itenRecipesTitle{} 
}

@media screen and (max-width:700px )  {
    
    .listRecipes{}

    li{ width: 90%;}

    .itenRecipes{}

    .itenRecipesImg{}
    
    .itenRecipesTitle{} 
}

@media screen and (max-width:500px  )  {
    
    .listRecipes{}

    li{}

    .itenRecipes{}

    .itenRecipesImg{}
    
    .itenRecipesTitle{} 
}

@media screen and (max-width:400px  )  {
    
    .listRecipes{}

    li{}

    .itenRecipes{}

    .itenRecipesImg{}
    
    .itenRecipesTitle{} 
}


